<channel>

  <title>Seasons of Obsession</title>
  <link>http://difficultpodcasts.us/seasons</link>
  <language>en-us</language>
  <copyright>Erik Hess and Potatowire</copyright>
  <itunes:owner>
    <itunes:email>erik@themindfulbit.com</itunes:email>
    <itunes:name>Difficult Podcasts</itunes:name>
  </itunes:owner>
  <itunes:author>Difficult Podcasts</itunes:author>
  <itunes:explicit>no</itunes:explicit>
  <itunes:image href="http://technicaldifficulties.us/assets/img/itunes-dp.png" />
  <itunes:keywords>Macdrifter,TheMindfulBit,Potatowire,Takitapart,Gabe,Erik,Bob,Technology,Security,Apple,Mac,iOS,Family,Parenting,Writing,Hardware,Social</itunes:keywords>
  <itunes:subtitle>Unscripted. Unedited. Uncaffeinated.</itunes:subtitle>
  <itunes:summary>Dawn Patrol features the entire Technical Difficulties gang in an unscripted discussion on technology and life. Hosted by Gabe Weatherhead, Erik Hess, Bob VanderClay and Potatowire.</itunes:summary>
  <description>Dawn Patrol features the entire Technical Difficulties gang in an unscripted discussion on technology and life. Hosted by Gabe Weatherhead, Erik Hess, Bob VanderClay and Potatowire.</description>
  <itunes:category text="Technology" />
  <admin:generatorAgent rdf:resource="http://technicaldifficulties.us/" />
  <atom:link href="http://technicaldifficulties.us/dp-feed" rel="self" type="application/rss+xml" />

  {{ entries:listing folder="seasons" }}
  <item>
    <title>{{ number }} - {{ title }}</title>
    <link>{{ permalink }}</link>
    <guid isPermaLink="true">{{ permalink }}</guid>
    <description><![CDATA[{{ if banner }}<img class="show-banner" src="http://technicaldifficulties.us{{ banner }}" />{{ endif }}{{ if caption }}<div class="caption">{{ caption|markdown }}</div>{{ endif }}{{ summary|markdown}} {{ content }}]]></description>
    <pubDate>{{ datestamp format="r" }}</pubDate>
    <itunes:image href="http://technicaldifficulties.us/assets/img/itunes-heretics.png" />
    <enclosure url="{{ download }}" length="0" type="audio/mpeg" />
    <itunes:duration>0</itunes:duration>
  </item>
  {{ /entries:listing }}

</channel>
