<ul>
  <li class="extras">
    <a class="home" href="{{ homepage }}">Home</a>
  </li>
    <li>
      <a href="/search" class="shows">
        Shows
      </a>
    </li>
    <li>
      <a href="/articles" class="articles">
        Articles 
      </a>
    </li>
    <li>
      <a href="/about" class="about">
        About
      </a>
    </li>
    <li class="extras">
     <a class="rss" href="{{ _site_url }}master-feed">RSS</a>
    </li>
  	<li class="extras">
  	 <a class="twitter" class="rss" href="http://twitter.com/techdiffpodcast">Twitter</a>
  	</li>
</ul>
